.dockview-theme-github-dark-spaced .dv-tab .dv-default-tab .dv-default-tab-content {
    text-align: center;
    margin-right: 0;
}

.dockview-theme-github-dark-spaced,
.dockview-theme-github-dark-spaced .dv-dockview {
    background-color: transparent !important;
}

.dockview-theme-github-dark-spaced .dv-groupview {
    background-color: rgba(22, 27, 34, 0.8) !important;
}

.dockview-theme-github-dark-spaced .dv-groupview .dv-content-container {
    background-color: transparent !important;
}

.dockview-theme-github-dark-spaced .dv-groupview .dv-tabs-and-actions-container {
    background-color: transparent !important;
}

.dockview-theme-github-dark-spaced .dv-groupview.dv-groupview-edge > .dv-content-container {
    display: block;
}

.dv-edge-sliding-active .dv-view {
    transition: width 0.15s linear, left 0.15s linear !important;
    scrollbar-width: none !important;
    -ms-overflow-style: none !important;
}
.dv-edge-sliding-active .dv-view::-webkit-scrollbar {
    display: none !important;
}
.dv-edge-sliding-active .dv-sash {
    transition: left 0.15s linear !important;
}


.dockview-theme-github-dark-spaced .dv-groupview:not(.dv-groupview-edge) .dv-tabs-and-actions-container.dv-single-tab .dv-scrollable {
    flex-grow: 1;
}
.dockview-theme-github-dark-spaced .dv-groupview:not(.dv-groupview-edge) .dv-tabs-and-actions-container.dv-single-tab .dv-tabs-container {
    flex-grow: 1;
}
.dockview-theme-github-dark-spaced .dv-groupview:not(.dv-groupview-edge) .dv-tabs-and-actions-container.dv-single-tab .dv-tabs-container .dv-tab {
    flex-grow: 1;
    padding: 0px;
}
.dockview-theme-github-dark-spaced .dv-groupview:not(.dv-groupview-edge) .dv-tabs-and-actions-container.dv-single-tab .dv-void-container {
    flex-grow: 0;
}
